html{
			font-family: 'Nanum Myeongjo', serif;}
		img{
			width: 500px; 
			display:block;
			margin:auto}
		h2{
			text-align: center; 
			color:white }
		h3{
			text-align: center; 
			color:white; 
			font-size: 0.8em;
			font-weight: : 400em;
			line-height: 2}	
		p{
			text-align: center; 
			color:white;
			font-size: 0.4em}
		body{
			background:url(../img/xx.gif)}
		footer{
			margin-bottom: 100px;
			margin-top: 30px;
			text-align:center;
			line-height: 2;
			font-size: 0.4em;
			color: white;}
		audio{
			margin: right}
			nav{}
		.navigation a{
  			font-size: 14px;
 			text-transform: uppercase;
  			padding: 0 10PX;
 			text-decoration:none;
 			color: #yellow;
  			font-weight: 500;
 			text-shadow: 5 5 5px white;
 			transition: 0.3s;}
		.navigation{
  			padding: 18px 0;
  			text-align: right;
  			position: fixed;z-index:9999}
		.navigation a{
			color: white;}
		.nav{
			background: #yellow;
			position:fixed ;}
		.jb-wrap {
			position: relative;}
		.jb-wrap img {
			width: 800px; 
			display:block;margin:center}
		.jb-text {
			padding: 5px 10px;
			text-align: center;
			position: absolute;
			top: 50%;left: 50%;
			transform: translate( -50%, -50% );
			color: white;
			line-height: 2;
			font-weight: : 400em}